<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js"></script>
		<script src="https://cdn.bootcss.com/angular.js/1.2.9/angular-route.min.js"></script>
		<script>
			/*
			angualr 的插件
			
			ngSanitize 对html进行格式化的处理，解析成真正的html标签
			ngRoute
			-  版本的问题
			-  ng-view
			-  $routeProvider
			>  when
				   template/templateUrl
				   controller
			>  otherwise 页面一进入显示的内容
			   		redirectTo
			-  $routeParams 接收参数
			-  事件
				》$on
				》$routeChangeStart 路由在切换之前会触发的事件
				》$routeChangeSuccess/Error
			
			
			
			*/
			var m1 = angular.module('myApp',['ngRoute']);
			
			m1.config(["$routeProvider",function($routeProvider){
				$routeProvider
					.when("/aaa/:num",{
						template:"<p>首页</p>{{name}}",
						controller:"Nice1"
					})
					.when("/bbb",{
						template:"<p>学院</p>{{name}}",
						controller:"Nice2"
					})
					.when("/ccc",{
						template:"<p>课程</p>{{name}}",
						controller:"Nice3"
					})
					.otherwise({
						redirectTo:"/aaa",
						//template:"<p>首页</p>{{name}}" //也可以不写这句话
					});
			}]);
			
			m1.run(["$rootScope",function($rootScope){
				$rootScope.$on('$routeChangeStart',function(){
					console.log("start");
				});
			}]);
			
			m1.controller('Nice1',['$scope',"$location","$routeParams",function($scope,$location,$routeParams){
				$scope.name = "你好";
				$scope.$location = $location;
				console.log($routeParams);
			}]);
			m1.controller('Nice2',['$scope',function($scope){
				$scope.name = "我好"
			}]);
			m1.controller('Nice3',['$scope',function($scope){
				$scope.name = "大家好"
			}]);
		</script>
	</head>
	<body>
		<div ng-controller="Nice1">
			<a href="" ng-click="$location.path('aaa/123')">首页</a>
			<a href="" ng-click="$location.path('bbb')">学院</a>
			<a href="" ng-click="$location.path('aaa/456')">课程</a>
			<div ng-view></div>
		</div>
	</body>
</html>
