<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.box{
				width:200px;
				height: 200px;
				background: orange;
				transition: 1s all;
				
			}
			.box.ng-enter{
				opacity: 0;
			}
			.box.ng-enter-active{
				opacity: 1;
			}
			.box.ng-leave{
				opacity: 1;
			}
			.box.ng-leave-active{
				opacity: 0;
			}
		</style>
		<script src="angular.min.js"></script>
		<script src="https://cdn.bootcss.com/angular.js/1.3.0-beta.1/angular-animate.min.js"></script>
		<script>
			/*
			angualr 的插件
			
			ngAnimate
			- CSS3的方式
			- ng-enter 进入
			- ng-enter-active
			- ng-leave 离开
			- ng-leav-active
			
			支持的指令
			if,view,repeat,include,swtich
			repeat
				ng-enter-stagger
				animation-delay
			
			
			
			*/
			var m1 = angular.module('myApp',['ngAnimate']);
			
			m1.controller('Nice1',['$scope',function($scope){
				$scope.bBtn = true;
				
			}]);
			
		</script>
	</head>
	<body>
		<div ng-controller="Nice1">
			<input type="checkbox" ng-model="bBtn" />
			<div ng-if="bBtn" class="box"></div>
		</div>
	</body>
</html>
