<!DOCTYPE html>
<html ng-app = "myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js"></script>
		<script>
			/*
			angular 指令
			ng-init
			ng-include
			 - ng-model-options
			 - updateOn
			ng-controller
			 - as
			*/
			var m1 = angular.module('myApp',[]);
			m1.controller('Nice',['$scope',function($scope){
				//$scope.text = "hello";  //赞成使用这种写法
				$scope.arr = [['a','b'],['c','d']];
				$scope.text2 = 'hello';
			}]);
			var m2 = angular.module("myApp",[]);
			m2.controller('Nice2',["$scope",FnNice]);
			function FnNice($scope){
				FnNice.prototype.num = "123";
				FnNice.prototype.text = "hello";
				FnNice.prototype.show = function(){
					return "angularjs";
				}
			}
		</script>
	</head>
	<body>
		<!--<div ng-controller="Nice" ng-init="text='hello'">
			{{text}}
		</div>-->
		<!--<div ng-controller="Nice">
			<div ng-repeat="arrOuter in arr" ng-init = "outIndex = $index">
				<div ng-repeat="arrInner in arrOuter" ng-init = "innerIndex = $index">
					<span>{{arrInner}}:{{outIndex}}{{innerIndex}}</span>
				</div>
			</div>
			<input type="text" ng-model = "text2" ng-model-options = "{updateOn:'blur'}" />
			<div>{{text2}}</div>
		</div>-->
		<div ng-controller="FnNice as a1">
			<div>{{a1.text}}:{{a1.show()}}</div>
		</div>
	</body>
</html>
