<!DOCTYPE html>
<html ng-app = "myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js"></script>
		<script>
			/*
			angular 指令
			ng-init 变量初始化
			ng-include 在结构中嵌入做好的页面
			 - ng-model-options 双向数据绑定，实现输入和显示不同步，可以设置同步事件
			 - updateOn 
			ng-controller
			 - as 控制器中用面相对象编程，可以得到每个变量的值
			*/
			var m1 = angular.module('myApp',[]);
			m1.controller('Nice',['$scope',function($scope){
				//$scope.text = "hello";  //赞成使用这种写法
				$scope.arr = [['a','b'],['c','d']];
				$scope.text2 = 'hello';
			}]);
			var m2 = angular.module("myApp",[]);
			m2.controller('Nice2',["$scope",FnNice]);
			function FnNice($scope){
				FnNice.prototype.num = "123";
				FnNice.prototype.text = "hello";
				FnNice.prototype.show = function(){
					return "angularjs";
				}
			}
		</script>
	</head>
	<body>
		<!--<div ng-controller="Nice" ng-init="text='hello'">
			{{text}}
		</div>-->
		<!--<div ng-controller="Nice">
			<div ng-repeat="arrOuter in arr" ng-init = "outIndex = $index">
				<div ng-repeat="arrInner in arrOuter" ng-init = "innerIndex = $index">
					<span>{{arrInner}}:{{outIndex}}{{innerIndex}}</span>
				</div>
			</div>
			<input type="text" ng-model = "text2" ng-model-options = "{updateOn:'blur'}" />
			<div>{{text2}}</div>
		</div>-->
		<div ng-controller="FnNice as a2">
			<div>{{a2.text}}:{{a2.show()}}</div>
		</div>
	</body>
</html>
