<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.active1{
				background: purple;
				color: #fff;
			}
			.active2{
				background: orangered;
				color: #fff;
			}
		</style>
		<script src="angular.min.js"></script>
		<script>
			/*
			ng-repeat 指令(遍历集合 - 通过in的方式遍历每一项)
			扩展部分
			 - $index 每一项的索引号
			 - $first 数据的第一项会返回true，其他项会返回false
			 - $last  数据的最后一项会返回true，其他项会返回false
			 - $middle 除了首尾项，其他项都会返回true，首尾项会返回false
			 - $even 数据中所有奇数行会显示true
			 - $odd  数据中所有偶数行会显示true
			
			*/
			var m1 = angular.module('myApp',[]);
			m1.controller('Nice',['$scope',function($scope){
				$scope.dataList = [
					'你好','我好','他好','你们好','大家好','我们好','他们好'
				];
			}])
			
		</script>
	</head>
	<body>
		<div  ng-controller="Nice">
			<ul >
				<!--<li ng-repeat="data in dataList">{{$odd}}</li>-->
				<li class="{{$even ? 'active1' : 'active2'}}" ng-repeat="data in dataList">{{data}}</li>
			</ul>
			<div ng-repeat-start="data in dataList">{{data}}</div>
			<p>{{data}}</p>
			<div ng-repeat-end>{{data}}</div>
		</div>
		
	</body>
</html>
