<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../vue.js"></script>
</head>
<body>
    <!--
      一、列表渲染
        v-for指令
        根据一组数组的选项列表进行渲染
        语法：value,key in items
            value,key of items

        变异方法
          vue提供一组方法，对数组进行操作时，会触发视图更新
              push() pop() shift() unshift()
              splice() sort() reverse()

      二、事件处理器
        v-on指令
          用来监听DOM事件触发代码
          语法：
              v-on：eventName = 'eventHandle' 如果需要传参，事件对象也要跟在后面传进去
          指令简写：
              @
          事件处理函数
              写在methods中统一管理
          事件对象
              在事件处理函数中获取
              内联事件处理函数执行，传入事件对象$event
        事件修饰符
              事件处理函数只有纯粹的逻辑判断，不处理DOM事件的细节，例如，阻止冒泡，取消默认行为，判断按键

              修饰符的位置： v-on:eventName.z修饰符
              修饰符：
                .stop  .prevent  .capture  .self  .once
              按键修饰符：
                  .enter .tab  .delete .esc
                  .space .up .down .left .right
                  .ctrl .alt .shift .meta .键值

        三、条件渲染
          v-show指令
            根据表达式的值，用来显示或隐藏元素
            语法：v-show=“表达式”
            元素会被渲染在页面中，只根据表达式的值进行css切换

        四、动态class
          动态绑定class
            class也为元素属性，也可以使用v-bind:class
            语法：
            :class = “{className:表达式}”
                      表达式值为true添加className
                      表达式值为false不添加className
            :class = "[className,className]"

        五、自定义指令
          除了vue内置的指令，可以自己设置指令
          选项对象的 directives 属性
          {
            directives:{}
          }
          钩子函数：
          update 被绑定元素所在的模板更新时调用
          钩子函数中的参数：
            el:指令所绑定的元素，可以用来直接操作DOM
            binding:一个对象
            value：指令的绑定值

        六、计算数据
          为什么要使用计算属性
            模板是为了描述视图的结构，模板中放入太多的逻辑，导致模板过重且难以维护
            在计算一个计算属性时，vue.js更新他的依赖列表并缓存结果，只有当其中一个依赖发生了变化，缓存的结果才无效
            语法：
              在选项对象中
              {
                ...
                computed:{}
              }
   -->
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input
              type="text"
              class="task-input"
              placeholder="例如我的学习计划    提示：+回车即可添加任务"
              v-on:keyup.13 = "addTodo(123,$event)"
              v-model="todo"
         />
        <ul class="task-count" v-show="list.length">
            <li>
              {{
                noLength
              }}
              个任务未完成
            </li>
            <li class="action">
                <a class="active" href="#">所有任务</a>
                <a href="#">未完成的任务</a>
                <a href="#">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">

            <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
            <ul class="todo-list">
                <li class="todo" v-bind:class="{completed:items.isChecked,editing:items === edtorTodos}" v-for="items in list">
                    <div class="view">
                        <input
                              class="toggle"
                              type="checkbox"
                              v-model="items.isChecked"
                        />
                        <label @dblclick="edtorTodo(items)">{{ items.title }}</label></label>
                        <button class="destroy" @click = "deleteTodo(items)"></button>
                    </div>
                    <input
                          class="edit"
                          v-focus="edtorTodos === items"
                          type="text"
                          v-model = "items.title"
                          @blur = "edtorTodoed(items)"
                          @keyup.13 = "edtorTodoed(items)"
                          @keyup.esc = "cancelTodo(items)"
                     />
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/myApp.js"></script>
</body>
</html>
